<h1>Comments</h1>
<div class="comments">
  <div class="th">
    <p class="name">Comment</p>
  </div>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="comm"><%= comment.comment %></p>
    </div>
    <div class="links">
      <%= link_to 'View', view_article_comment_path(@article, comment) %><span> | </span>
    </div>
  <% end %>
  <%= link_to 'Back to article', view_article_path(@article) %>
</div>