<%= link_to 'Advanced mode', articles_path %>
<h1>Articles</h1>
<div class="articles">
  <div class="th">
    <p class="name">Name</p>
  </div>
  <% @articles.each do |article| %>
    <div class="article">
      <p class="name"><%= link_to article.name, view_article_path(article) %></p>
    </div>
  <% end %>
</div>