// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font: 18px verdana;
}
.th,.article{
  p{
    width: 23%;
    float: left;
    text-align: center;
    background: #E5E5E5;
    margin: 0;
    margin: 3px 1% 0 0;
  }
  p.name{
    width: 50%;
  }
}
.show_article{
  background: #E5E5E5;
  padding-left: 1%; 
  div{
    width: 90%;
    margin: 10px auto;
  }
  .links{
    text-align: right;
  }
}
#article_a_content{
  width: 450px;
  height: 150px;
}