$color1: #F8F8F8;
$color2: #E7E7E7;
$font: "Helvetica Neue",Helvetica,Arial,sans-serif;
@mixin gradient($position: top-left) {
  background: -moz-linear-gradient($position, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-linear-gradient($position, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  background: -o-linear-gradient($position, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  background: linear-gradient($position, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
.main-wrap{
  min-height: 1000px;
  .action_wrap{
    margin-top: 70px;
  }
  .new_wrap, .edit_wrap{
    width: 33%;
    margin: auto;
  }
  .btn-success.mod{
    float: right;
  }
  .btn.btn-link{
    margin: 0;
    padding: 0;
  }
  .btn.btn-primary{
    margin-top: 5px;
  }
  .content{
    padding-left: 20px;
  }
  .count{
    padding: 9px 10px;
    background: $color1;
    float: left;
  }
}
.articles {
  float: left;
  width: 100%;
  font-family: $font;
  .th{
    p{
      text-align: center;
    }
  }
  .col-md-2{
    text-align: center;
  }
  .th, .article1, .article0{
    float: left;
    width: 100%;
    background: $color1;
    border-bottom: 1px solid #e7e7e7;
    p{
      margin-top: 10px;
    }
  }
  .article0, .article1{
    &:hover{
      background: #B5C3D6;
    }
  }
  .article0{
    background: $color2;
  }
}
.show_article > h2{
  text-align: center;
}
footer{
  background: $color2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  p{
    margin: 0;
    padding: 10px 0 10px 10px;
  }
  @include gradient(top);
}
